@import url(https://fonts.googleapis.com/css?family=Risque:regular);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.back {
    min-height: 100vh;
    display: flex;

}

.side__bar {
    flex: 0 0 260px;
    background: #FFF;
}

.main__block {
    flex: 1 1 auto;
    background: #F9F9F9;
}

/* Стили для бургера */

.logo__menu a {
    /* background-color: aliceblue; */
    display: block;
    width: 25px;
    height: 50px;
    border-radius: 50%;
    position: relative;
}

.logo__menu a span,
.logo__menu a span::before,
.logo__menu a span::after {
    position: absolute;
    background-color: black;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 2px;
    margin-top: -1px;
    margin-left: -10px;
    border-radius: 20px;
}

.logo__menu a span::before,
.logo__menu a span::after {
    content: '';
    transition: .2s;
}

.logo__menu a span::before {
    transform: translateY(-5px);
}

.logo__menu a span::after {
    transform: translateY(5px);
}

.logo__menu .active span::before {
    transform: rotate(-45deg);
    /* transform-origin: left bottom; */
    /* width: 10px; */
}

.logo__menu .active span::after {
    transform: rotate(45deg);
    /* transform-origin: left top; */
    /* width: 10px; */
}

.logo__menu .active span {
    height: 0;
}

/* Конец стилей для бургера */
.logo__img{
    display: inline;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    border-radius: 5px;
    background: linear-gradient(180deg, #314ED8 0%, rgba(213, 49, 216, 0.61) 100%);
}
.logo__menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
}
.side__bar{
    padding: 20px;
}
.logo span{
    color: #111;
    font-family: Risque;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 10px;
}
ul{
    display: flex;
    list-style-type: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 70vh;
    margin: 77px 0 20px 0;
}
ul li{
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: space-between;
}
ul li img{
    flex: 0 0 30px;
    color: #7A7A7A;
}
ul li span{
    color: #7A7A7A;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex: 1 1 auto;
    margin-left: 40px ;
}
.add{
    border-radius: 21px;
    background: linear-gradient(180deg, #4D64E1 0%, #9956F4 100%);  
    padding: 23px 20px 32px;
    text-align: center;
}
.add span:first-child{
    display: block;
    color: #FFF;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 23.29px;
}
.plus{
    border-radius: 5px;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.plus span{
    padding-left: 10px;
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search{
    border-radius: 50px;
    background: #F9F9F9; 
    width: 349px;
    height: 60px;
    flex-shrink: 0;
    margin: 15px 0 15px 20px;
}
input{
    border: none;
    outline: none;
    border-radius: 50px;
    padding: 20px 210px 20px 33px;
}
.block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}
.block1{
    border-radius: 10px;
    background: #E9EBFF;
    padding: 15px;
    margin: 0 10px;
    position: relative;
}
.noti{
    position: absolute;
    right: -15%;
    top: -15%;
    font-size: 0.8em;
    padding: 10px;
    background-color: #314ED8;
    color: #FFF;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.noti1{
    position: absolute;
    right: -15%;
    top: -15%;
    font-size: 0.8em;
    padding: 10px;
    background-color: #9956F4;
    color: #FFF;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.noti2{
    position: absolute;
    right: -15%;
    top: -15%;
    font-size: 0.8em;
    padding: 10px;
    background-color: #C4C4C4;
    color: #FFF;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.block2{
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    background: #4D64E1;
    margin-right:20px ;
}
.block2 span{
    padding: 10px 30px 10px 10px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
}
.block3{
    display: flex;
    justify-content: space-between;
}
.order{
    margin: 20px;
}
.txt{
    
    color: #111;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.txt__1{
    color: #6C63FF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.txt__2{
    color: #6C63FF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.korobka{
    margin: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: #F9FAFE;
    box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.25);
}
.korobka img{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 15px;
}
.korobka span{
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.block__4{
    display: flex;
    /* justify-content: space-between; */
}
.main__1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    padding-top: 20px;
    border-radius: 18px;
    background: #FFF;
}
.zara{
    color: #111;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.customer{
    color: #7A7A7A;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.block__1{
    margin-top: 30px;
    background-color: #404A56;
    border-radius: 10px;
    padding: 20px 20px 0px 20px ;
}
.notes{
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.lorem{
    color: #D8D8D8;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.img__gruzovik{
    padding: 10px;
    background-color: white;
    border-radius: 50%;
}
.block__2{
    display: flex;
    align-items: center;
    margin:20px  -20px;
    padding: 10px;
    background: #4E60FF;
    border-radius: 15px;
}
.block__2 span{
    padding-left: 20px;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.main__2{
    margin: 20px;
    /* padding: 20px; */
    border-radius: 18px;
    background: #FFF;
}
.block__3{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.txt__3 span{
    color: #000;
    font-family: Red Hat Text;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 50px;
}
hr{
    margin: 15px 0 ;
    background: #E1E1E1;
}
.menu__1{
    padding-left: 20px;
    padding-right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu__txt{
    padding-left: 30px;
}
.menu__txt span{
    padding: 10px 0;
}
.text__1{
    color: #2F80ED;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.text__2{
    color: #000;
    font-family: Red Hat Text;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.text__3{
    color: #A7A7A7;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.menu__cash{
    padding-left: 70px;
    display: flex;
    align-items: center;
    justify-content: center;}
.menu__cash span{
    padding: 50px;
    color: #000;
    font-family: Red Hat Text;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



